h1{
    color: white;
   
}
.column {
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column:hover{
    transform:scale(1.5);
  }
  .column1 {
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  *{
    background-color: black;
    color: white;
  }
  .column1:hover{
    transform:scale(1.5);
  }
  .column2{
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .column2:hover{
    transform:scale(1.5);
  }




