h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.column {
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column:hover{
    transform:scale(1.5);
  }
  .column1 {
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column1:hover{
    transform:scale(1.5);
  }
  .column2{
    float: left;
    width: 23.23%;
    padding: 5px;
    transition:0.2s ease-in-out;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .column2:hover{
    transform:scale(1.5);
  }
